.header {
    height: 57px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;

    border-bottom: 1px solid rgb(230, 230, 230);
}

.left-section {
    display: flex;
    align-items: center;
}
.hamburger-menu {
    height: 24px;
    margin-right: 24px;
    margin-left: 24px;
    cursor: pointer;
}
.yt-logo {
    height: 20px;
    cursor: pointer;
}

.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 470px;
}
.search-bar {
    height: 36px;
    width: 0px;
    min-width: 60px;
    max-width: 360px;
    flex: 1;
    font-size: 16px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px 0 0 2px;
    padding-left: 12px;
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}
.search-button {
    height: 39px;
    width: 64px;
    margin-left: -0.5px;
    margin-right: 8px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(183, 183, 183);
}

.search-button, 
.voice-search-button {
    position: relative;
    cursor: pointer;
    transition: cursor 0.20s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip {
    background-color: rgba(98, 98, 98, 0.637);
    color: white;
    padding: 3px 7px;
    border-radius: 2px;
    font-family: Roboto, Arial;
    font-size: 12px;
    position: absolute;
    bottom: -30px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip, 
.voice-search-button:hover .tooltip {
    opacity: 1;
}

.search-icon, .voice-search-icon {
    height: 24px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
    border: 1px none rgb(183, 183, 183);
}

.right-section {
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.upload-icon,
.yt-apps-icon,
.notifications-icon
{
    height: 25px;
}

.upload-icon-container,
.yt-apps-icon-container,
.notifications-container {
    position: relative;
    cursor: pointer;
    transition: cursor 0.20s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-icon-container .tooltip,
.yt-apps-icon-container .tooltip,
.notifications-container .tooltip {
    background-color: rgba(98, 98, 98, 0.637);
    color: white;
    padding: 3px 7px;
    border-radius: 2px;
    font-family: Roboto, Arial;
    font-size: 12px;
    position: absolute;
    bottom: -30px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}


.upload-icon-container:hover .tooltip,
.yt-apps-icon-container:hover .tooltip,
.notifications-container:hover .tooltip {
    opacity: 1;
}

.notifications-icon-container {
    position: relative;
}
.notifications-count {
    position: absolute;
    top: -2px;
    right: -6px;
    background-color: rgb(197, 0, 0);
    color: white;
    font-family: Roboto, Arial;
    font-size: 10px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px 5px;
}
.current-user-picture {
    height: 32px;
    border-radius: 16px;
}

.upload-icon-container, 
.yt-apps-icon-container,
.notifications-icon-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}